asgiref==3.12.1
attrs==26.1.0
black==26.5.1
click==8.4.2
colorama==0.4.6
coverage==7.15.4
Django==6.0.8
django-debug-toolbar==7.0.0
django-stubs==6.0.8
django-stubs-ext==6.0.8
djangorestframework==3.17.2
djangorestframework-stubs==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
flake8==7.3.0
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pep8-naming==0.15.1
pillow==12.3.0
platformdirs==4.11.0
pycodestyle==2.14.0
pyflakes==3.4.0
PyJWT==2.13.0
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==2026.6.3
setuptools==83.0.0
sqlparse==0.5.5
types-PyYAML==6.0.12.20260724
typing_extensions==4.16.0
tzdata==2026.3
uritemplate==4.2.0
